body {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: scroll;
}

form, .startGame, .grid {
	margin-top: 15px;
	margin-bottom: 15px;
}

.feedback {
	height: 10px;
}

.cell {
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
	border: none;
}

.covered:active {
	background: url('http://i.imgur.com/bGT8xGEb.jpg');
}

button:focus {
	outline:0;
}

.row {
	white-space: nowrap;
	margin-left: 20;
	margin-right: 20;
}